.menu {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0;
    transition: 1s ease;
    button {
        width: 160px;
        height: 40px;
        border-radius: 10px;
        font-size: medium;
        font-weight: 600;
        letter-spacing: 0.2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 1s ease;
        &:focus,
        :focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }

        &:hover {
            transition: 2s ease;
            border: 1px solid white;
            background-color: black;
        }
    }
}
