// ----- VARIABLES

$brand-primary: #463ea5; //Brand primary
$gray-xdark: #2768a0;

$brand-primary-hover: #9a92ff; //Brand primary
$brand-primary-light: #9a92ff; //Brand primary
$brand-primary-dark: #463ea5; //Brand primary

$brand-secondary: #0b0026; //Brand primary
$brand-secondary-hover: #9a92ff; //Brand primary
$brand-secondary-light: #9a92ff; //Brand primary
$brand-secondary-dark: #0b0026; //Brand primary

$black-background: #242424;

$gray-primary: #1b1b1d;

$black: black;

$gray-dark: #333;
$gray-normal: #555;
$gray-middle: #888;
$gray-Light: #ccc;
$gray-xlight: #f5f5f5;

$white-color: #fff;
$white-color-background: #e1e5f1;

$bg_gray-dark: #121212;
$bg_gray-middle: #1b1b1d;
$bg_gray-Light: #121212;
$bg_gray-xlight: #222;

$font-dark: #0e0e2c;
$font-medium: #4a4a68;
$font-light: $white-color;

$brand-telecom: #2768a0;
$brand-personal: #00b0eb;
