@import '../../styles/variables.scss';
.home {
    border-radius: 30px;
    height: 100%;
    min-height: 650px;
    width: 80%;
    .home__header {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 700px) {
            display: block;
        }
    }
    .home__menu {
        display: block;
        margin-bottom: 20px;
        overflow-x: scroll;
        position: relative;
        scrollbar-color: 'gray';
        scrollbar-width: 'thin';
    }
    .home__body {
        background-color: $gray-xdark;
        background-image: url('../../assets/img/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        min-height: 200px;
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        width: 90%;
    }
}
