@import '../../styles/variables.scss';
.notFound {
    align-items: center;
    background-color: $black-background;
    color: $font-light;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    z-index: 1;
    .notFound__text {
        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
        }
        h1 {
            font-size: 48px;
            font-weight: 500;
            line-height: 1.2;
        }
        h2 {
            font-size: 23px;
            font-weight: 400;
            line-height: 1.2;
        }
        .buttonContainer {
            margin-top: 60px;
            button {
                background: $font-light;
                border-radius: 44px;
                color: #4a4a4a;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                height: 47px;
                padding: 12px 32px 11px;
                text-transform: uppercase;
                &:hover {
                    background-color: $brand-telecom;
                    color: $font-light;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .notFound {
        flex-direction: column;
        .notFound__text {
            h3 {
                font-size: 16px;
                font-weight: 300;
                line-height: 1.2;
            }
            h1 {
                font-size: 36px;
                font-weight: 400;
                line-height: 1.2;
            }
            h2 {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.2;
            }
        }
        .buttonContainer {
            display: flex;
            justify-content: center;
        }
    }
}
